/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Haddii aadan isticmaalin Tailwind, isticmaal CSS fudud: */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9fafb;
}
